<div>
  <h5>Patterns <button type="button" class="btn btn-primary" (click)="addPattern()">Add</button></h5>
</div>
<div class="accordion" [attr.id]="'matchingGroup-' + defIndex" [formGroup]="matchingGroup">
  <div class="card" formArrayName="patterns" *ngFor="let pattern of patterns.controls; let i = index; trackBy: trackByIndex">
    <div [formGroup]="pattern">
      <div class="card-header" [attr.id]="defIndex + '-pattern-' + i">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block d-flex"
            [ngClass]="{ collapsed: i !== 0 }"
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#collapsePattern-' + i"
            aria-expanded="true"
            [attr.controls]="'#collapsePattern-' + i"
          >
            {{ pattern.get('sequence').value?.length > 0 ? pattern.get('sequence').value : 'New pattern' }}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-down ml-auto"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </button>
        </h2>
      </div>

      <div
        [attr.id]="'collapsePattern-' + i"
        class="collapse"
        [ngClass]="{ show: i === 0 }"
        [attr.aria-labelledby]="'pattern-' + i"
        [attr.data-parent]="'#matchingGroup-' + defIndex"
      >
        <div class="card-body row">
          <div class="form-group col-9">
            <label>Sequence</label>
            <textarea class="form-control" formControlName="sequence" rows="4"></textarea>
          </div>
          <div class="form-group col-3">
            <label>Offset</label>
            <input type="text" class="form-control" formControlName="offset" />
          </div>
          <div class="col-12 text-right">
            <button type="button" class="btn btn-danger" (click)="deletePattern(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
