<div class="accordion" id="fileTypeConfigurator" [formGroup]="form">
  <div
    class="card"
    formArrayName="filesFormatsDefinition"
    *ngFor="let def of filesFormatsDefinition.controls; let i = index; trackBy: trackByIndex"
  >
    <div [formGroup]="def">
      <div class="card-header" [attr.id]="'def-' + i">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block d-flex collapsed"
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#collapseDef-' + i"
            aria-expanded="true"
            [attr.controls]="'#collapseDef-' + i"
          >
            {{ $any(def).getRawValue().isNew && !def.get('extension').value && !def.get('mimeType').value ? 'NEW: ' : '' }}
            {{ def.get('extension').value ? '.' + def.get('extension').value : '' }}
            {{ def.get('mimeType').value ? ' (' + def.get('mimeType').value + ')' : '' }}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-down ml-auto"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </button>
        </h2>
      </div>

      <div [attr.id]="'collapseDef-' + i" class="collapse" [attr.aria-labelledby]="'def-' + i" data-parent="#fileTypeConfigurator">
        <div class="card-body row">
          <div class="col-12 text-right">
            <button
              *ngIf="!$any(def).getRawValue().isNew"
              type="button"
              class="btn btn-secondary"
              (click)="cancel(i)"
              [disabled]="!def.dirty"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="save(def)" [disabled]="!def.dirty || def.invalid">Save</button>
          </div>
          <div class="form-group col-6">
            <label>Extension</label>
            <input type="text" class="form-control" formControlName="extension" />
          </div>
          <div class="form-group col-6">
            <label>MimeType</label>
            <input type="text" class="form-control" formControlName="mimeType" />
          </div>

          <div class="form-group col-12" *ngIf="filesFormatsDefinition.get([i, 'matching']) as matchingGroup">
            <app-config-matching-group [defIndex]="i" [matchingGroup]="matchingGroup"></app-config-matching-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary" (click)="addDef()">Add new definition</button>
  </div>
</div>
